@page
@model DemoPRN1.Pages.Admin.Categories.ViewCategoryModel
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Categories</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">

                            <a asp-page="/Admin/Categories/CreateCategories" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fa-solid fa-plus"></i>

                                </span>
                                <span class="text">Thêm loại sách</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Category_ID</th>
                                            <th>Tên thể loại sách</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model.categories)
                                        {
                                            <tr>
                                                <td>@item.CategoryId</td>

                                                <td>@item.CategoryName</td>
                                              
                                                <td>
                                                    <div class="tableFunc">
                                                        <a href="/Admin/Categories/UpdateCategories?id=@item.CategoryId" class="btn btn-primary btn-icon-split">
                                                            <span class="icon text-white-50">
                                                                <i class="fa-solid fa-pen-to-square"></i>
                                                            </span>
                                                        </a>

                                                        <form method="post" asp-page-handler="Delete" asp-route-id="@item.CategoryId" style="display:inline;">
                                                            <button type="submit" class="btn btn-danger btn-icon-split" onclick="return confirm('Bạn có chắc chắn muốn xóa sách này?');">
                                                                <span class="icon text-white-50">
                                                                    <i class="fas fa-trash"></i>
                                                                </span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
         